@mixin underlined-link($color) {
  .underlined-link {
    position: relative;
  }
  .underlined-link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color;
    content: "";
    left: 0;
    bottom: -5px;
  }
  .underlined-link:hover::after {
    cursor: pointer;
  }
}
