:root {
  $text-color-black: #262626;
  $text-color-white: #f1f1ee;
  $text-color-gray: #b2b2b2;
  $text-color-gray--lighter: #cccccc;

  $background-color-yellow: #e7f066;
  $background-color-brown: #9c8554;
  $background-color-white: #ebebeb;
  $background-color-pink: #a26779;
  $background-color-red: #b04836;
}
