@use "../abstracts/colors" as *;
@use "../abstracts/layouts" as *;
@use "../components/underlined-link" as *;

section.about {
  @include underlined-link($text-color-black);
  background-color: $background-color-white;
  color: $text-color-black;
  display: grid;
  height: 100vh;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
  text-align: left;
  img {
    max-width: 95%;
  }
  .about__text {
    * {
      margin-bottom: 0.75em;
    }
  }
}

@media screen and (max-width: $tablet) {
  section.about {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
