$side-padding: 1.625rem;

@mixin template-layout-1() {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  h1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 0 $side-padding $side-padding 0;
    text-align: end;
    align-self: end;
  }
  img {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: $side-padding;
  }
}

@mixin template-layout-1__text {
  section {
    .text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      padding: $side-padding;
      a {
        margin-top: 1.625em;
      }
    }
  }
}
