@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.content {
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

/* Box sizing rules */
/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul[role=list] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons + reset styles */
a,
a:visited,
input,
button,
textarea,
fieldset,
select {
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

button,
a {
  text-transform: uppercase;
}

section a {
  font-size: 0.75rem;
  color: inherit;
}
section h1 {
  font-size: 1.5625rem;
}
section h2 {
  font-size: 0.84375rem;
}
section h3 {
  font-size: 0.796875rem;
}
section p {
  font-size: 0.9375rem;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.show {
  opacity: 1;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 1.625rem 1.625rem 0 1.625rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav a {
  color: black;
}
header nav img {
  max-width: 6.25em;
}
header nav ul {
  display: inherit;
  align-items: center;
}
header nav ul li:first-child {
  margin-right: 2.5em;
}

.burger-menu {
  text-align: left;
  background: transparent;
  position: relative;
  width: 30px;
  top: 0px;
  right: 0px;
  transition-duration: 0.5s;
}
.burger-menu .icon {
  position: absolute;
  height: 4px;
  width: 30px;
  top: -10px;
  background-color: #262626;
}
.burger-menu .icon:after {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #262626;
  content: "";
  top: 10px;
}
.burger-menu.open .icon {
  background: transparent;
}
.burger-menu.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(8px, -10px);
}
.burger-menu:hover {
  cursor: pointer;
}

footer {
  background-color: #504b4d;
  color: #cccccc;
}
footer form {
  padding: 1.625rem;
  width: 50%;
}
footer fieldset {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.75rem;
  grid-template-areas: "legend       .               ." "input-name   input-email     ." "label-name   label-email     button";
}
footer fieldset input {
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid #b2b2b2;
}
footer fieldset legend {
  grid-area: legend;
}
footer fieldset label[for=name] {
  grid-area: label-name;
}
footer fieldset #name {
  grid-area: input-name;
}
footer fieldset label[for=email] {
  grid-area: label-email;
}
footer fieldset #email {
  grid-area: input-email;
}
footer fieldset button {
  grid-area: button;
  background-color: transparent;
  color: inherit;
}

@media screen and (max-width: 768px) {
  footer form {
    padding: 1.625rem;
    width: 100%;
  }
  footer fieldset {
    row-gap: 1rem;
    grid-template-areas: "legend" "input-name" "label-name" "input-email" "label-email" "button";
  }
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #504b4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #1b1b1b;
}

.popup {
  background-color: #1b1b1b;
  color: #f1f1ee;
  position: fixed;
  width: 23.5em;
  height: 15em;
  padding: 1.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  bottom: 1.625rem;
  right: 1.625rem;
  z-index: 1;
  cursor: pointer;
}
.popup .underlined-link {
  position: relative;
}
.popup .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f1f1ee;
  content: "";
  left: 0;
  bottom: -5px;
}
.popup .underlined-link:hover::after {
  cursor: pointer;
}

.popup::before {
  content: "x";
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.popup:hover {
  background-color: #504b4d;
}

section.intro {
  background-color: #e7f066;
  color: #262626;
  height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: minmax(50%, auto) auto;
}
section.intro .underlined-link {
  position: relative;
}
section.intro .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #262626;
  content: "";
  left: 0;
  bottom: -5px;
}
section.intro .underlined-link:hover::after {
  cursor: pointer;
}
section.intro h1 {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  padding: 1.625rem;
}
section.intro img {
  grid-row: 1/2;
  grid-column: 1/2;
  max-height: 100%;
}
section.intro .text {
  margin-top: 7.5em;
  grid-row: 1/3;
  grid-column: 2/3;
  padding: 0 1.625rem;
  align-self: flex-start;
}
section.intro .text a {
  margin-top: 1.625em;
}

@media screen and (max-width: 768px) {
  section.intro {
    grid-template-columns: 1fr;
    align-items: center;
  }
  section.intro img {
    grid-row: 1/2;
    grid-column: 1/2;
    max-height: 100%;
  }
  section.intro h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    padding: 0 1.625rem;
  }
  section.intro .text {
    margin-top: 0;
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
  section.intro .text a {
    margin-top: 1.625em;
  }
}
section .text {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: baseline;
}
section .text a {
  margin-top: 1.625em;
}

@media screen and (max-width: 768px) {
  section .text {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
  section .text a {
    margin-top: 1.625em;
  }
}
section.candles {
  background-color: #9c8554;
  color: #b2b2b2;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: minmax(50%, auto) auto;
}
section.candles .underlined-link {
  position: relative;
}
section.candles .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  content: "";
  left: 0;
  bottom: -5px;
}
section.candles .underlined-link:hover::after {
  cursor: pointer;
}
section.candles h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0 1.625rem 1.625rem 0;
  text-align: end;
  align-self: end;
}
section.candles img {
  grid-row: 1/2;
  grid-column: 2/3;
  max-height: 100%;
  justify-self: end;
}
section.candles h2 {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  section.candles {
    grid-template-columns: 1fr;
    align-items: center;
  }
  section.candles h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 1.625rem 0 0 1.625rem;
    text-align: start;
    align-self: end;
  }
  section.candles img {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: end;
  }
  section.candles h2 {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
}

section.refill {
  color: #262626;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(10px, 100vh);
}
section.refill .underlined-link {
  position: relative;
}
section.refill .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #262626;
  content: "";
  left: 0;
  bottom: -5px;
}
section.refill .underlined-link:hover::after {
  cursor: pointer;
}
section.refill .side {
  position: relative;
}
section.refill .side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.refill .side a {
  left: 1.625rem;
  bottom: 1.625rem;
  position: absolute;
}

section.about {
  background-color: #ebebeb;
  color: #262626;
  display: grid;
  height: 100vh;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
  text-align: left;
}
section.about .underlined-link {
  position: relative;
}
section.about .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #262626;
  content: "";
  left: 0;
  bottom: -5px;
}
section.about .underlined-link:hover::after {
  cursor: pointer;
}
section.about img {
  max-width: 95%;
}
section.about .about__text * {
  margin-bottom: 0.75em;
}

@media screen and (max-width: 768px) {
  section.about {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
section .text {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: baseline;
}
section .text a {
  margin-top: 1.625em;
}

@media screen and (max-width: 768px) {
  section .text {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
  section .text a {
    margin-top: 1.625em;
  }
}
section.perfume {
  color: #b2b2b2;
  background-color: #a26779;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: minmax(50%, auto) auto;
}
section.perfume .underlined-link {
  position: relative;
}
section.perfume .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  content: "";
  left: 0;
  bottom: -5px;
}
section.perfume .underlined-link:hover::after {
  cursor: pointer;
}
section.perfume h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0 1.625rem 1.625rem 0;
  text-align: end;
  align-self: end;
}
section.perfume img {
  grid-row: 1/2;
  grid-column: 2/3;
  max-height: 100%;
  justify-self: end;
}
section.perfume h2 {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  section.perfume {
    grid-template-columns: 1fr;
    align-items: center;
  }
  section.perfume h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 1.625rem 0 0 1.625rem;
    text-align: start;
    align-self: end;
  }
  section.perfume img {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: end;
  }
  section.perfume h2 {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
}

section.room {
  color: #262626;
  position: relative;
  height: 100vh;
}
section.room .underlined-link {
  position: relative;
}
section.room .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #262626;
  content: "";
  left: 0;
  bottom: -5px;
}
section.room .underlined-link:hover::after {
  cursor: pointer;
}
section.room img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.room .room__text {
  top: 25%;
  position: absolute;
  width: 50%;
  padding-left: 1.625rem;
  text-align: justify;
}
section.room .room__text * {
  margin-bottom: 0.75em;
}

section .text {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: baseline;
}
section .text a {
  margin-top: 1.625em;
}

@media screen and (max-width: 768px) {
  section .text {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
  section .text a {
    margin-top: 1.625em;
  }
}
section.wash {
  background-color: #504b4d;
  color: #b2b2b2;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: minmax(50%, auto) auto;
}
section.wash .underlined-link {
  position: relative;
}
section.wash .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  content: "";
  left: 0;
  bottom: -5px;
}
section.wash .underlined-link:hover::after {
  cursor: pointer;
}
section.wash h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0 1.625rem 1.625rem 0;
  text-align: end;
  align-self: end;
}
section.wash img {
  grid-row: 1/2;
  grid-column: 2/3;
  max-height: 100%;
  justify-self: end;
}
section.wash h2 {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  section.wash {
    grid-template-columns: 1fr;
    align-items: center;
  }
  section.wash h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 1.625rem 0 0 1.625rem;
    text-align: start;
    align-self: end;
  }
  section.wash img {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: end;
  }
  section.wash h2 {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
}

section .text {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: baseline;
}
section .text a {
  margin-top: 1.625em;
}

@media screen and (max-width: 768px) {
  section .text {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
  section .text a {
    margin-top: 1.625em;
  }
}
section.industry {
  background-color: #b04836;
  color: #b2b2b2;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: minmax(50%, auto) auto;
}
section.industry .underlined-link {
  position: relative;
}
section.industry .underlined-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b2b2b2;
  content: "";
  left: 0;
  bottom: -5px;
}
section.industry .underlined-link:hover::after {
  cursor: pointer;
}
section.industry h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0 1.625rem 1.625rem 0;
  text-align: end;
  align-self: end;
}
section.industry img {
  grid-row: 1/2;
  grid-column: 2/3;
  max-height: 100%;
  justify-self: end;
}
section.industry h2 {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1.625rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  section.industry {
    grid-template-columns: 1fr;
    align-items: center;
  }
  section.industry h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 1.625rem 0 0 1.625rem;
    text-align: start;
    align-self: end;
  }
  section.industry img {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: end;
  }
  section.industry h2 {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0 1.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
